<%for(var i=0;i<10;i++){%>
<br>
<%}%>

<form action="/session/create" method="POST" class="form-signin col-sm-6 col-sm-offset-3">
  <h2 class="form-head">Please sign in</h2>
  <% if(flasherr && flasherr.err){%>
  <ul class="alert alert-danger">
    <% Object.keys(flasherr.err).forEach(function(error){%>
    <li><%=(flasherr.err[error]['message'])%></li>
    <% })%>
  </ul>
  <%}%>
  <input type="text" class="form-control" placeholder="Email" name="email">
  <input type="password" class="form-control" placeholder="Password" name="password">
  <input type="submit" class="btn btn-primary" value="Sign-in">
  <input type="hidden" name="_csrf" value="<%=_csrf%>">
  <%
  var jso=[{'name':'Harshit',
           'age':19
  },
    {'name':'kedia',
      'age':10
    }
    ];
 %>
  <%-"<br>"+jso[1].age%>
</form>
