<div class="container">
  <div class="jumbotron">
    <h1>activityOverload</h1>
    <h2>...tracking app activity better than thr NSA since 1899.</h2>
    <a href="/users/new" class="btn btn-lg btn-success">Sign Up Now!</a>
  </div>
</div>
